.head {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(83, 173, 247);
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
}

.gap {
    height: 120px;
}

.logobox {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    left: 15%;
    top: 30px;
}

.logoText {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    font-style: italic;
    font-family: 'Arial', 'Verdana', sans-serif;
    color:white;
}

.logobox:hover .logo,
.logobox:hover .logoText
{
    filter: brightness(70%);
    text-decoration: none;
}

.logo {
    background: rgb(233, 216, 183);
    width: 70px;
    height: 70px;
    border-radius: 10%;
    box-shadow: 3px 3px 5px rgb(133, 119, 92);
    text-align: center;
    font-size: 60px;
    font-family: 'Arial', 'Verdana', sans-serif;
    color:white;
}

.search-box {
    border: 0;
    width: 35%;
    height: 60px;
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 30px;
    border-radius: 5px;
    text-size-adjust: 60px;
}

.search-box:focus,
input:focus {
    outline: rgb(97, 202, 235);
}

.basket {
    background-image: url("images/basket.png");
    width: 60px;
    height: 60px;
    background-size: cover;
    position: absolute;
    /*left: 70%;*/
    right: 25%;
    top: 30px;
}

.basket:hover {
    background-color: rgb(233, 239, 245);
    border-radius: 3px;
}

.profile {
    background-image: url("images/profile.png");
    width: 60px;
    height: 60px;
    background-size:cover;
    background-position: center;
    position: absolute;
    right: 15%;
    top: 30px;
    margin-left: 5px;
    border-radius: 3px;
    mix-blend-mode: multiply;
}

.profile:hover {
    background-color: rgb(216, 225, 235);
    filter: brightness(90%);
    text-decoration: none;
}

.menu {
    display:none;
    flex-direction: column;
    background: rgb(83, 173, 247);
    position: absolute;
    left: 65%;  
    width: 400px;
    height: auto;
    opacity: 0.8;
}

.menu-btn {
    width: 100%;
    height: 50px;
    color:beige;
    font-size:20px; 
    border-bottom: 2px inset beige;
}

.menu-btn:hover {
    background-color: rgb(149, 192, 241);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center; 
}

.card {
    text-align: center;
    border: 1px solid rgb(173, 182, 190);
    box-shadow: 1px 1px 1px rgb(233, 226, 212);
    border-radius: 10px;
    width: 350px;
    height: 450px;
    font-size: small;
}

.card-image {
    width: 50%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 3px 3px 5px rgb(173, 170, 170);
}


.card-btn {
    text-align: center;
    vertical-align: middle;
    height: 15%;
    width: 65%;
    color: beige;
    background-color: rgb(83, 173, 247);
    top: 50%;
    left: 30%;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}

.card-btn:hover {
    filter: brightness(70%);
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.page-btn {
    text-align: center;
    vertical-align: middle;
    height: 70px;
    width: 130px;
    color: beige;
    background-color: rgb(83, 173, 247);
    top: 50%;
    left: 30%;
    border-radius: 5px;
    font-size: 20px;
}

.page-btn:hover {
    filter: brightness(70%);
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: rgb(86, 87, 88);
    height: 350px;
    width: 100%;
    margin-top: auto;
    text-align: center;
    color:rgb(222, 228, 233);
    font-size: 20px;
    min-height: 600px;
}

a {
    color: inherit;
    text-decoration: none; 
}

a:hover {
    color: #007bff; 
}

@media (max-width:700px) {

    .head {
        height: 120px;
        width: 100%;
        max-width: 100%;
    }

    .logobox {
        left: 1%;
        top: 25px;
    }

    .profile {
        left: 80%;
    }

    .flex-container {
        width: 100%;
    }

    .search-box {
        left: 21%;
    }

    .basket {
        left: 62%;
    }

    .card {
        width: 45%;
        height: 350px;
    }

    .card-image{
        width: 40%;
        height: 30%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logoText {
        display: none;
    }

    .menu {
        left:0;
        width: 100%;
        height: 100%;
    }
}
