.container {
  width: 200px;
  height: 200px;
  display: flex;
}

.background2 {
  background-color: rgb(164, 172, 128);
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
}

.bunny-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.bunny {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 30%;
  top: 0;
}

.bunny-body {
  content: url("var1/rabbit1.png");
  width: 200%;
  height: 130%;
  position: absolute;
  left: 32%;
  top: -30%;
}

.bunny-head {
  width: 200%;
  height: 110%;
}

.first {
  visibility: visible;
  content: url("var1/rabbit2.png");
  position: absolute;
  left: 28%;
  top: -10%;
}

.second {
  position: absolute;
  visibility: hidden;
  content: url("var1/rabbit3.png");
  left: 25%;
  top: -10%;
}

.bunny-container:hover .first {
  opacity: 0;
}

.bunny-container:hover .second {
  visibility: visible;
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  color: rgba(164, 33, 204, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.bunny-container:hover .text-overlay {
  opacity: 1;
  visibility: visible;
}

.mag-flex-container {
  display: flex;
  width: 40%;
  height: 44%;
  position: absolute;
  left: 8%;
  top: 50%;
}

.mag1 {
  content: url("var1/mag2.png");
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mag2 {
  content: url("var1/mag1.png");
  width: 50%;
  height: 50%;
  position: absolute;
  transition: transform 2s ease;
}

.left-mag {
  left: 0%;
  top: 0;
}

.right-mag {
  left: 50%;
  top: 0;
}

.mag-flex-container:hover .mag2 {
  transform: rotate(360deg);
}

.flex {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  position: absolute;
  top: 59%;
  left: 5%;
  background: #74ec2e;
  box-shadow: 0 0 0 1px rgba(154, 231, 154, 0.7);
  opacity: 1;
  transition: transform 0.1s ease;
}

.flex-shake {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #74ec2e;
  box-shadow: 0 0 0 1px rgba(154, 231, 154, 0.7);
  opacity: 1;
  transition: transform 0.1s ease;
}

.bunny-container:active .flex {
  opacity: 1;
  animation: traectory 8s linear infinite;
}

.bunny-container:active .flex-shake {
  opacity: 1;
  animation: sizing 8s linear infinite;
}

@keyframes traectory {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  25% {
    transform: rotate(75deg) translateX(10px) translateY(-42px);
  }

  50% {
    transform: rotate(-2deg) translateX(80px) translateY(10px);
  }

  75% {
    transform: rotate(-58deg) translateX(50px) translateY(30px);
  }

  87.5% {
    transform: rotate(70deg) translateX(18px) translateY(0px);
  }
}

@keyframes sizing {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.5);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.5);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.bunny-container:active .text-overlay {
  opacity: 0;
}

.text-overlay2 {
  position: absolute;
  top: -20%;
  left: -30%;
  transform: rotate(-30deg);
  width: 100%;
  height: 100%;
  background: none;
  color: rgba(164, 33, 204, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.bunny-container:active .text-overlay2 {
  opacity: 1;
  visibility: visible;
}

/*Музыка*/

.sound-checkbox {
  display: none;
}

.sound-area {
  display: block;
  width: 100%;
  height: 100%;
}

.sound-checkbox:checked~#background-sound {
  display: block;
}