.background {
    width: 200px;
    height: 200px;
    background: rgb(94, 146, 92);
    position: absolute;
    left:45%;
}

.window-frame {
    width: 50%;
    height: 50%;
    background: rgb(238, 238, 238);
    position: absolute;
    left: 28.75%;
    top: 19%;
}

.sky {
    width: 90%;
    height: 90%;
    background: #5c8ce6;
    background: radial-gradient(circle at center,
            #d3d8e2,
            /* центр */
            #5084e4
            /* края */
        );
    position: absolute;
    left: 5%;
    top: 5%;
}

.table {
    background: none;
    position: absolute;
    left: 31.25%;
    top: 61%;
}

.table-panel {
    width: 90px;
    height: 15px;
    background: rgb(134, 73, 2);
    position: absolute;
    left: 0%;
    top: 0%;
}

.table-leg {
    width: 15px;
    height: 50px;
    background: #864902;
    position: absolute;
    left: 37px;
    top: 10px;
    border-radius: 40px/100px;
}

.table-support {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #864902;
    position: absolute;
    left: 24.5px;
    top: 38px;
}

.chair {
    background: none;
}

.right {
    transform: scaleX(-1);
    position: absolute;
    left: 205px;
    top: -3px;
}

.left {
    position: absolute;
    left: 0px;
    top: -3px;
}

.chair-leg {
    width: 8px;
    height: 40px;
    background: rgb(134, 73, 2);
    position: absolute;
    left: 52px;
    top: 158px;
}

.chair-seat {
    width: 40px;
    height: 8px;
    background: rgb(134, 73, 2);
    position: absolute;
    left: 25px;
    top: 158px;
}

.chair-back {
    width: 20px;
    height: 90px;
    border: 8px solid #864902;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-radius: 20px 50px 50px 20px;
    position: absolute;
    left: 0px;
    top: 110px;
}

.chair-right-leg {
    width: 8px;
    height: 40px;
    background: rgb(134, 73, 2);
    position: absolute;
    left: 159px;
    top: 160px;
}

.chair-right-seat {
    width: 40px;
    height: 8px;
    background: rgb(134, 73, 2);
    position: absolute;
    left: 152px;
    top: 158px;
}

.chair-right-back {
    width: 20px;
    height: 90px;
    border: 8px solid #864902;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 50px 20px 20px 50px;
    position: absolute;
    left: 188px;
    top: 110px;
}

.grid-container-chair {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    /* Расстояние между фигурами */
    justify-items: center;
    height: 100px;
    padding: 30px;
    border-radius: 100px;
    position: absolute;
    left: -27px;
    top: -29px;
}

.chair-figure {
    width: 5px;
    height: 5px;
    background-color: #50300c;
    transform: rotate(45deg);
}


.grid-container-left {
    display: grid;
    grid-template-columns: 1fr;
    /* Одна колонка */
    gap: 0px;
    /* Расстояние между фигурами */
    justify-items: center;
    height: 100px;
    padding: 30px;
    border-radius: 100px;
    position: absolute;
    left: 21px;
    top: 9px;
}

.figure-left {
    width: 17px;
    height: 17px;
    border: 3px solid #ffffff;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 40px 10px 10px 40px;
}

.grid-container-right {
    display: grid;
    grid-template-columns: 1fr;
    /* Одна колонка */
    gap: 0px;
    /* Расстояние между фигурами */
    justify-items: center;
    height: 100px;
    padding: 30px;
    border-radius: 100px;
    position: absolute;
    left: 114px;
    top: 9px;
}

.figure-right {
    width: 17px;
    height: 17px;
    border: 3px solid #ffffff;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-radius: 10px 40px 40px 10px;
}

.grid-container-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    /* Расстояние между фигурами */
    justify-items: center;
    height: 100px;
    padding: 30px;
    border-radius: 100px;
    position: absolute;
    left: 26px;
    top: 2px;
}

.figure-top {
    width: 17px;
    height: 17px;
    border: 3px solid #ffffff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 40px 40px 10px 10px;
}

.sunny {
    width: 30px;
    height: 30px;
    background-color: #f2f53d;
    border-radius: 0 0 0 100px;
    position: absolute;
    left: 65px;
    top: 5px;
}

.sunny-ring {
    width: 30px;
    height: 30px;
    border: 2px solid #c4ba39;
    /* толщина кольца */
    border-radius: 50%;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 100px;
    position: absolute;
    left: -2px;
    top: 0px;
}

.chain {
    background: none;
    position: absolute;
    left: 0%;
    right: 0%;
}

.chain-body {
    width: 54px;
    height: 34px;
    background: radial-gradient(circle at 30% 35%,
            #e7e7e7 -20%,
            /* центр */
            #a01e49 62%
            /* края */
        );
    border-radius: 100px/80px;
    position: absolute;
    left: 23px;
    top: 51px;
}

.chain-nouse {
    width: 10px;
    height: 20px;
    transform: skew(75deg) rotate(80deg);
    background: rgb(204, 35, 91);
    position: absolute;
    left: 25px;
    top: 53px;
}

.chain-cap {
    width: 25px;
    height: 20px;
    background: radial-gradient(circle at 35% 25%,
            #e7e7e7 -10%,
            /* центр */
            #a01e49 60%
            /* края */
        );
    border-radius: 100px/70px;
    position: absolute;
    left: 36px;
    top: 42px;
}

.chain-cap-hand {
    width: 10px;
    height: 6px;
    background: rgb(228, 68, 175);
    border-radius: 100px/70px;
    position: absolute;
    left: 43px;
    top: 38px;
}

.chain-ring {
    width: 15px;
    height: 15px;
    border: 3px solid #e050e0;
    /* Золотой цвет */
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    position: absolute;
    left: 65px;
    top: 55px;
}

.grid-container-chair {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    /* Расстояние между фигурами */
    justify-items: center;
    height: 100px;
    padding: 30px;
    border-radius: 100px;
}

@media (max-width:500px) {
    .background {
        left:25%;
    }
}